#1.Write a Python program which accepts the radius of a circle from the user and compute the area.

In [1]:
import math

# Accept radius from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate area using the formula: area = π × r²
area = math.pi * radius ** 2

# Display the result
print("Area of the circle =", round(area, 2))

Enter the radius of the circle: 3.5
Area of the circle = 38.48

#2.Write a Python Program to accept the details of a student like name, roll number and mark and display it. Sample input: Enter the name: Anisha Enter the roll number: 21 Enter the mark: 78 Sample output: Name: Anisha Roll No: 21 Mark: 78

In [2]:
# Accept student details from the user
name = input("Enter the name: ")
roll_no = input("Enter the roll number: ")
mark = input("Enter the mark: ")

# Display the student details
print("\nName:", name)
print("Roll No:", roll_no)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78

Name: Anisha
Roll No: 21
Mark: 78

#3.Write a Python program to get the largest number from a list.Sample input: 12, 3, 47, 10 Sample output: 47 is the largest number.

In [3]:
# Define the list of numbers
numbers = [12, 3, 47, 10]

# Find the largest number using max()
largest = max(numbers)

# Display the result
print(f"{largest} is the largest number.")

47 is the largest number.

#4.Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number. Sample input: 1….10 Sample output: Current Number 1 Previous Number 0 Sum: 1 Current Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [4]:
previous = 0

for current in range(1, 11):
    total = current + previous
    print(f"Current Number {current} Previous Number {previous} Sum: {total}")
    previous = current

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

#5.Write a Python program to print only those numbers which are divisible of 5. Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [5]:
# Sample input list
numbers = [10, 20, 33, 46, 55]

# Filter and print numbers divisible by 5
divisible_by_5 = [str(num) for num in numbers if num % 5 == 0]
print(", ".join(divisible_by_5))

10, 20, 55

#6.Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3 Sample output: 3 is a prime number

In [7]:
# Accept input from the user
num = int(input("Enter the number: "))

# Check if the number is prime
if num <= 1:
    print(f"{num} is not a prime number")
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(f"{num} is a prime number")
    else:
        print(f"{num} is not a prime number")

Enter the number: 3
3 is a prime number

#7.Write a Python program to reverse a list using for loop. Sample input: 10,40,30,70 Sample output: 70,30,40,10

In [8]:
# Original list
numbers = [10, 40, 30, 70]

# Create an empty list to store reversed elements
reversed_list = []

# Iterate through the original list in reverse order
for i in range(len(numbers) - 1, -1, -1):
    reversed_list.append(numbers[i])

# Display the reversed list
print(", ".join(str(num) for num in reversed_list))

70, 30, 40, 10

#8.Write a Python program to print the following pattern.
*
**
***
****

In [9]:
rows = 4

# Loop to print the pattern
for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****

#9.Write a Python program to find the maximum of three numbers Sample input: 34,12,7 Sample output: 34

In [10]:
# Accept three numbers from the user
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

# Find the maximum using if-else
if a >= b and a >= c:
    maximum = a
elif b >= a and b >= c:
    maximum = b
else:
    maximum = c

# Display the result
print(f"{maximum} is the largest number.")

Enter first number: 34
Enter second number: 12
Enter third number: 7
34 is the largest number.

#10.Write a Python program to construct the following pattern, using a nested for loop.
*
**
***
****
*****
****
***
**
*

In [12]:
# Number of rows for the top half
rows = 5

# Top half of the pattern
for i in range(1, rows + 1):
    for j in range(i):
        print('*', end='')
    print()

# Bottom half of the pattern
for i in range(rows - 1, 0, -1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****
****
***
**
*